body {

}

#results {
  background-color: #F9F9F9;
  text-align: center;
}

.jumbotron {
  background-color: transparent;
  text-align: center;
}

#ruby-rails, #css-design, #java-android {
  display: none;
}
